<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
      }
      
      .container {
        width: 80%;
        max-width: 1200px;
        margin: 20px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      h1 {
        color: #d9534f;
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        line-height: 1.6;
        font-size: 16px;
      }
      
      .video-info {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .video-info > span {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      }

      .video-info > div > a {
        margin-top: 15px;
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 8px 15px;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin-top: 10px;
      }

      .video-info > div > a:hover {
        background-color: #0056b3;
      }
      
      .comment-list {
        list-style: none;
        padding: 0;
      }
      
      .comment-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
      
      .comment-item img {
        border-radius: 50%;
        margin-right: 15px;
      }
      
      .comment-item strong {
        font-weight: bold;
        margin-right: 5px;
      }
      
      .comment-item p {
        margin: 0;
        font-size: 14px;
        color: #555;
      }
      
      .footer-note {
        font-size: 14px;
        text-align: center;
        color: #888;
        margin-top: 30px;
      }
      
      .footer-note > span {
        display: inline-block;
        font-weight: bold;
        color: #5bc0de;
      }
      
      .warning {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #f0ad4e;
      }

      .spam {
        color: white !important;
        background-color: #d9534f;
        padding: 2px;
      }

      .link-to-text {
        background-color: skyblue;
        color: black;
        display: inline-block;
        white-space: nowrap;
      }
      
      .link-to-text > span {
        display: inline;
      }
      
      .alert {
        display: block;
      }
      
      .usage > span {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="warning">※ 본 이메일은 자동으로 작성되었습니다. ※</p>
      <h1 style="text-align: center;">귀하의 동영상에 스팸 의심 댓글이 감지되었습니다.</h1>
      
      <div class="video-info">
        <span>제목: <%= video.title %></span>
        <span>비디오 ID: <%= video.id %></span>
        <div style="text-align: center;">
          <span class="alert">
            이동 버튼을 누르기 전 링크가 확실한지 확인해주세요!<br/>
            링크는 <span class="link-to-text"><span>https</span><span>://studio.</span><span>youtube.</span>com/video</span>로 시작합니다.
          </span>
          <a href="https://studio.youtube.com/video/<%= video.id %>/edit">스튜디오로 이동하기</a>
          <a href="https://studio.youtube.com/video/<%= video.id %>/comments/inbox">댓글 관리로 이동하기</a>
        </div>
        <div style="text-align: center;" class="usage">
          <img style="padding: 10px;" src="https://i.imgur.com/FOHAkV8.png"/>
          <span>검색은 문장에서 일부만 검색하면 됩니다!</span>
        </div>
      </div>
      
      <div style="text-align: center; color: #333;">
        <p>현재 스팸성이 높은 데이터를 추출하여 학습시키고 토큰을 적절히 나누고 있습니다.</p>
        <p>하지만 한국어의 특성으로 인해 제대로 걸러지지 않는 경우가 많습니다.</p>
        <p>아래의 댓글들은 스팸 댓글일 가능성이 높습니다. 판단 후 삭제 바랍니다.</p>
        <p>추론 확률이 궁금하다면 닉네임, 댓글에 마우스를 올려보세요!</p>
      </div>
      
      <ul class="comment-list">
        <% comments.forEach(comment => { %>
          <li class="comment-item">
            <img src="<%= comment.profileImage %>" alt="Profile Image" width="50" height="50">
            <div style="width: 100%">
              <strong class="<%= comment.nickname_predicted == '스팸' ? 'spam' : '' %>"
                title="<%= comment.nickname_prob %>"  
              >
                <%= comment.nickname %>
              </strong>
              <p class="<%= comment.comment_predicted == '스팸' ? 'spam' : '' %>"
                title="<%= comment.comment_prob %>"  
              >
                <%= comment.comment %>
              </p>
            </div>
          </li>
        <% }) %>
      </ul>
      
      <p class="footer-note">
        <span>※ 스팸 데이터를 거르는 정확도가 높아지면 메일로 알려주는 대신 웹 서비스로 대체될 예정입니다. 관심이 있다면 회신 바랍니다. ※</span>
        <span>※ 만약, 귀하의 영상이 아니라면 회신 바랍니다. ※</span>
      </p>
    </div>
  </body>
</html>
