<%
  function getCommentStyle(predicted) {
    const commentStyle = "margin:0; font-size:14px;";
    if (predicted === "스팸") return commentStyle + " color:white; background-color:#e53935; padding:2px;";
    else if (predicted === "정치/비난") return commentStyle + " color:white; background-color:#ffa15c; padding:2px;";
    return commentStyle + " color:#555;";
  }

  function getNicknameStyle(predicted) {
    const nicknameStyle = "margin:0; font-size:14px;";
    if (predicted === "스팸") return nicknameStyle + " color: white; background-color: #e53935; padding: 2px;"
    return nicknameStyle;
  }
%>
<ul style="list-style: none; padding: 0; margin: 0;">
  <% Object.values(comments).forEach(value => { 
        const { root, items } = value;
  %>
    <li style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #ddd;">
      <!-- 상위 댓글 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <img src="<%= root.profileImage %>" alt="Profile Image" width="50" height="50" style="border-radius: 50%; margin-right: 15px;">
        <div style="width: 100%;">
          <strong style="<%= getNicknameStyle(root.nicknamePredicted) %>" title="<%= root.nicknameProb %>">
            <%= root.nickname %>
          </strong>
          <p style="<%= getCommentStyle(root.commentPredicted) %>" title="<%= root.commentProb %>">
            <%= root.comment %>
          </p>
          <p style="margin: 0; font-size: 14px; color: #555; margin-left: auto; text-align: right;">
              <%= root.updatedAt %>
          </p>
        </div>
      </div>

      <!-- 하위 댓글들 -->
      <% if (items.length > 0) { %>
      <div style="margin-left: 65px; border-left: 2px solid #eee; padding-left: 15px;">
        <details>
          <summary style="cursor: pointer; font-weight: bold; margin-bottom: 10px;"> 답글 <%= items.length %>개</summary>
          <ul style="list-style: none; padding: 0; margin: 0;">
            <% items.forEach(item => { %>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
              <img src="<%= item.profileImage %>" alt="Profile Image" width="40" height="40" style="border-radius: 50%; margin-right: 10px;">
              <div style="width: 100%;">
                <strong style="<%= getNicknameStyle(item.nicknamePredicted) %>" title="<%= item.nicknameProb %>">
                  <%= item.nickname %> 
                </strong>
                <p style="<%= getCommentStyle(item.commentPredicted) %>" title="<%= item.commentProb %>">
                  <%= item.comment %>
                </p>
                <p style="margin: 0; font-size: 14px; color: #555; margin-left: auto; text-align: right;">
                  <%= item.updatedAt %>
                </p>
              </div>
            </li>
            <% }) %>
          </ul>
        </details>
      </div>
      <% } %>
    </li>
  <% }) %>
</ul>
  